body {
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFD700; /* Couleur au survol */
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.form-group {
    margin: 10px;
}

label {
    margin-right: 10px;
    font-size: 1.2em;
}

input[type="text"], select {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1c40f;
    color: #2c2c2c;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #e1b40e;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #333;
}

.profile h3 {
    margin: 0;
    font-size: 1.5em;
    color: #f1c40f;
}

.profile p {
    margin-top: 10px;
    font-size: 1em;
    color: #ccc;
}

.profile img {
    margin-bottom: 10px;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}
.selected-formats {
    display: none;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-format {
    background-color: #f1c40f;
    color: #2c2c2c;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.selected-format:hover {
    background-color: #e1b40e;
}

.artists-list h3 a {
    color: #f1c40f;
    text-decoration: none;
    transition: color 0.3s ease;
}

.artists-list h3 a:hover {
    color: #FFD700;
    text-decoration: underline;
}

select[multiple] {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}

.selected-format {
    background-color: #e0e0e0;
    padding: 5px 8px;
    border-radius: 10px;
    display: inline-block;
}

