body {
    background-color: #f5f8ff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #0258ff;
}

a {
    color: #0258ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #000080;
    text-decoration: underline;
}
.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease;
    height: 36px;
    box-sizing: border-box;
}

.button {
    width: 15%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0258ff;
    color: #ffffff !important;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease;
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}


button:hover {
    background-color: #0000cc;
}

.artists-list {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: calc(33.333% - 50px);
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translateY(-10px);
}

.profile img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.profile h3 {
    margin: 0;
    font-size: 1.5em;
    color: #0258ff;
}

.profile p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
    text-align: center;
}

.selected-formats {
    display: none;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-format {
    background-color: #0258ff !important;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95em;
    transition: background-color 0.3s ease;
}

.selected-format:hover {
    background-color: #0000cc;
}

.artists-list h3 a {
    color: #0558ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.artists-list h3 a:hover {
    color: #0000cc;
    text-decoration: underline;
}

select[multiple] {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000;
}

.artist-search-container {
    max-width: 1400px;
    width: 100%;
}

.artist-search-container h1 {
    font-size: 2em;
    color: #0258ff;
    text-align: center;
    margin-top: 20px;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    min-width: 180px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.95em;
}

.input-shadow {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
}

.distance-value {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.distance-value span {
    font-size: 1em;
    margin-right: 5px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0258ff;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease;
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.button:hover {
    background-color: #0000cc;
}

.artist-formats .selected-formats-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    justify-content: start;
}

a.selected-format {
    text-decoration: none !important;
    color: #ffffff !important;
    padding: 5px 8px;
    gap: 3px 6px;
    margin: 1px 5px;
    line-height: 1.1;
}

a.selected-format:hover {
    text-decoration: none !important;
}

#lieu {
    width: 250px;
}

#tolerance {
    width: 120px;
    height: 4px;
}

#bio {
    width: 300px;
}

@media (max-width: 1200px) {
    .profile {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .profile {
        width: 100%;
    }
}

.pac-container {
    z-index: 1051 !important;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 40% !important;
    box-sizing: border-box;
}
.pac-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.pac-item:hover {
    background-color: #e0e0e0;
}

.pac-item-selected {
    background-color: #0073aa;
    color: white;
}

.pac-icon {
    display: none;
}

.pac-item-query {
    font-weight: bold;
    margin-right: 10px;
}

.pac-matched {
    font-weight: bold;
}

.pac-item .icon {
    margin-right: 10px;
    color: #0073aa;
}

.pac-item::before {
    content: "🏛️";
    margin-right: 10px;
}
