form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 90%;
    font-family: 'Segoe UI', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: span 1 !important;
    margin-bottom: -30px;
}

.form-group.full-width {
    grid-column: span 2 !important;
}

label {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 14px;
    color: #222;
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease;
    height: 32px;
    box-sizing: border-box;
}

textarea {
    min-height: 70px;
    resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #0073aa;
    background-color: #fff;
    outline: none;
}

button[type="submit"] {
    height: 40px;
    background-color: #0208ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 24px;
    margin-top: 20px;
    margin-left: 40%;
}

.phone-field input {
    width: 70%;
    min-width: 160px;
}


@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .form-group.full-width,
    button[type="submit"] {
        grid-column: 1 / 2;
    }
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-with-icon .icon {
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-with-icon input[type="text"] {
    padding-left: 36px;
    height: 35px;
    font-size: 13px;
    box-sizing: border-box;
}

input,
select,
textarea {
    box-sizing: border-box;
    display: block;
}

.pac-container {
    z-index: 1051 !important;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 40% !important;
    box-sizing: border-box;
}

.pac-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.pac-item:hover {
    background-color: #e0e0e0;
}

.pac-item-selected {
    background-color: #0073aa;
    color: white;
}

.pac-icon {
    display: none;
}

.pac-item-query {
    font-weight: bold;
    margin-right: 10px;
}

.pac-matched {
    font-weight: bold;
}

.pac-item .icon {
    margin-right: 10px;
    color: #0073aa;
}

.pac-item::before {
    content: "🏛️";
    margin-right: 10px;
}